@model IEnumerable<BlogIndex>
@section style {
    <link href="//cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.dataTables.min.css" rel="stylesheet" /> 
    <link href="~/dash/dist/css/img.css" rel="stylesheet" />
   



}

@section header {
    Blogs
}
<div class="col-md-10 m-auto">
    <div class="card shadow-lg rounded">
        <div class="card-header text-center bg-primary text-white">
            <h3 class="card-title">Employees Table</h3>
        </div>

        <div class="card-body">
            <table class="table table-bordered text-center align-middle table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Contract</th>
                        <th>Read Count</th>
                        <th>Comment Count</th>
                        <th>Img</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@Html.Raw(@item.Description)</td>
                            <td>@item.StartContract</td>
                            <td>@item.ReadCount</td>
                            <td>@item.CommentCount</td>
                            <td>
                                <img src="~/files/images/@item.Img" class="img-fluid w-25 h-25  " alt="Employee Image" />
                            </td>
                            <td class="thbut">
                              
                                <a class="btn btn-warning btn-sm mr-1" asp-controller="Blog" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-danger btn-sm delete-btn" data-id="@item.Id" href="javascript:void(0)"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>


<div id="myModal" class="modal">
  <span class="modal-close">&times;</span>
  <div class="modal-content">
    <img id="modalImage" class="modal-animated" />
  </div>
</div>

@section scripts {
    <script src="//cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.12/pdfmake.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

   
    <script>
        new DataTable('table', {
            layout: {
                topStart: {
                    buttons: ['copy', 'excel', 'pdf']
                }
            }
        });

        const modal = document.getElementById('myModal');
        const modalImg = document.getElementById('modalImage');
        const images = document.querySelectorAll('.img-fluid');

        images.forEach(image => {
            image.addEventListener('click', function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                modalImg.classList.remove('zoomOut');
                modalImg.classList.add('zoomIn');
            });
        });

        const closeBtn = document.querySelector('.modal-close');
        closeBtn.onclick = function () {
            modalImg.classList.remove('zoomIn');
            modalImg.classList.add('zoomOut');
            setTimeout(() => {
                modal.style.display = "none";
            }, 500);
        };

        const e = document.querySelectorAll(".delete-btn");
        e.forEach(function (button) {
            button.addEventListener("click", async () => {
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: "btn btn-success",
                        cancelButton: "btn btn-danger"
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    reverseButtons: true
                }).then(async (result) => {
                    if (result.isConfirmed) {
                        const id = button.dataset.id;
                        const respo = await fetch(`/dashboard/Blog/Delete/${id}`, {
                            method: 'POST',
                            headers: {
                                "Content-Type": "application/json"
                            }
                        });
                        const data = await respo.json();
                        if (respo.ok) {
                            $(button).closest("tr").remove();
                        }
                        swalWithBootstrapButtons.fire({
                            title: "Deleted!",
                            text: "Your service has been deleted.",
                            icon: "success"
                        });
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                        swalWithBootstrapButtons.fire({
                            title: "Cancelled",
                            text: "Your service is safe :)",
                            icon: "error"
                        });
                    }
                });
            })
        });
    </script>
}
